<%- include('../layouts/adminHeader.ejs') %>
<section style=" padding-top: 5px;" >
    <div class="category-form">
        <form action="/admin/editCategory/<%=categories[0]._id %>" method="post"  enctype="multipart/form-data" >
            <h2 class="text-center">Edit Category</h2>

            <div name="error" style="font-size:x-small; color:green; text-align: center;">
                <% if(typeof message !=='undefined' ){ %>
                    <h4>
                        <%= message %>
                    </h4>
                <% } %>
            </div>
             <div class="form-group">
             <input type="text" class="form-control" placeholder="title" name="title" id="title1" value="<%=categories[0].category%>" text-center >
            
            <% if( errors && errors.title ) { %>
                &nbsp;&nbsp;<span class="text-danger"><%= errors.title.msg %></span>
                <% } %>

                <input type="number" class="form-control" placeholder="offer percentage" name="offer" id="offer"  value="<%=categories[0].offer_Percentage%>" text-center >
            </div>
            <br>
            <div class="form-group">
                <label class="form-label" class="form-control"  for="form3Example4c2" text-center>&nbsp;&nbsp;Add category Image</label>
               
                 <input type="file" class="form-control" text-center name="image" id="image" >

               
            <div>
            <img style="width:100px;height: 100px;" id="img" src="/images/category/<%=categories[0].image%>" alt=" ">
          </div>
            <!-- <div class="form-group">
             <label class="form-label" class="form-control  for="form3Example4c2" text-center>&nbsp;&nbsp;Edit category Image</label>
            
            <input type="file"  class="form-control" onChange="viewImage(event)" name="image"  required>
           </div> -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Edit Category</button>
            </div>

        </form>

    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('img').src=URL.createObjectURL(event.target.files[0])
    }
</script>


</body>

</html>