<%- include('../layouts/header.ejs') %>

<section class="main">
  <div class="container py-5">
      <div class="row py-4">
          <div class="col-lg-7 pt-5 text-center">
              <h2 class="pt-4">Nature Has Always Cared For Us!</h2>
          </div>
      </div>
  </div>

</section>


<section  style="background-color: #eee; padding-top: 5px;">
  
<br>



    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
             <div class="container"  style="display: flex;
             align-items: center;
             justify-content: center;">  
          <!-- <div class="row justify-content-center">  -->
           
            <div   class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 " style="float: right;">
             
              <!-- <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                class="img-fluid" alt="Sample image"> -->
                <img  src=" /images/background/login_bg.png"
                class="img-fluid" alt="Sample image">
               
            </div>
                <div  class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 " >
                  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Account  </p>
                  
                  <form class="mx-1 mx-md-4" method="post"  >
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Your Name<sup><span style="color:red;font-size: medium;">*</span></sup></label>
                        <input type="text"  name="name"  id="form3Example1c" class="form-control" value="<%= data.name %>" />
                        <% if( errors &&  errors.name  ) { %>
                          <span class="text-danger"><%= errors.name.msg %></span>
                          <% } %>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email<sup><span style="color:red;font-size: medium;">*</span></sup></label>
                        <input type="email"  name="email" id="form3Example3c" class="form-control" value="<%= data.email %>" />         
                        <% if( errors && errors.email ) { %>
                          <span class="text-danger"><%= errors.email.msg %></span>
                          <% } %>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password<sup><span style="color:red;font-size: medium;">*</span></sup></label>
                        <input type="password" name="password" id="form3Example4c" class="form-control" value="<%= data.password %>"/> 
                        <% if( errors && errors.password ) { %>
                          <span class="text-danger"><%= errors.password.msg %></span>
                          <% } %>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Confirm Password<sup><span style="color:red;font-size: medium;">*</span></sup></label>
                      <input type="password" name="confirmPassword" id="form3Example4c" class="form-control" value="<%= data.confirmPassword %>"/> 
                      <% if( errors && errors.confirmPassword ) { %>
                        <span class="text-danger"><%= errors.confirmPassword.msg %></span>
                        <% } %>
                    </div>
                  </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <label class="form-label" for="form3Example4c1">Phone No<sup><span style="color:red;font-size: medium;">*</span></sup></label>
                          <input type="text" name="phone" id="form3Example4c1" class="form-control" value="<%= data.phone %>" />            
                          <% if( errors && errors.phone) { %>
                            <span class="text-danger"><%= errors.phone.msg %></span>
                            <% } %>
                        </div>
                      </div>
                     <!-- <label class="form-label" for="form3Example4c2">Add Profile Photo</label>
                    <input type="file" name="image" required> -->

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" style="border-radius:20px;width:150px;">Register</button>
                    </div>

                    </form>
                    <% 
                     if(typeof message !=='undefined'){
                  %>

                    <p style="color:green;"><%= message %></p>

                  <%
                  }
                  %>
                  
                  
                </div>
              
                
              
              <!-- </div>  -->
             </div> 
          </div> 
        </div>
      </div>
    </div> 
    <br><br>
  </section>




<!--  -->