<%- include('../layouts/header.ejs') %>
<section style="background-color: #eee; padding-top: 5px;" >
    <div class="category-form">
        <form action="" method="post"  >
           

            <div name="error" style="font-size:x-small; color:green; text-align: center;">
                <% if(typeof message !=='undefined' ){ %>
                    <h4>
                        <%= message %>
                    </h4>
                <% } %>
            </div>
            <h2 class="text-center">Reset password</h2>
             <div class="form-group">
             <input type="password" class="form-control" placeholder="New password" name="password" id="pass" value="" text-center required="required" >
             <% if(typeof email!='undefined'){ %>
                <input type="hidden" name="Email" value="<%= email %>">
            <% } %>
             <% if( typeof errors!=='undefined' && errors.password ) { %>
                <span class="text-danger"><%= errors.password.msg %></span>
                <% } %>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm  new  password" name="cPassword" id="title1" value="" text-center required="required" >
                
               <% if(typeof errors!=='undefined' && errors.cPassword ) { %>
                   <span class="text-danger"><%= errors.cPassword.msg %></span>
                   <% } %> 
               </div>
                       <div class="form-group">
                <button  id="openModalBtn" type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </div>

        </form>

    </div>
</section>
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Success Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <%  if(typeof modalMessage!=='undefined' ){%>
          <p id="successMessage"> <%=modalMessage%></p>
         
          <%}%> 
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

    if(modalMessage){
     $("#exampleModal").modal('show');
    }   

//   document.addEventListener('DOMContentLoaded', function () {
//     const openModalBtn = document.getElementById('openModalBtn');
//     const successMessageElement = document.getElementById('successMessage');

//     openModalBtn.addEventListener('click', function () {
     
//       const successMessage = 'Password has been changed successfully!';

//       // Set the success message in the modal body
//       successMessageElement.textContent = successMessage;

//       // Open the Bootstrap modal
//       $('#exampleModal').modal('show');
//     });
//   });
</script>
</body>

</html>