<%- include('../layouts/header.ejs') %>
<section style=" padding-top: 5px;" >
  
    <div class="container">
       
      <h4 style="text-align: center;margin-top: 10px;">Coupon List</h4>
      <table id="myTable" style="border-right: 1px; border-spacing:10px; border-collapse: separate;" class="table mt-5 d">

        <thead>
         <tr>
              <th scope="col"  style=" font-size: x-small; text-align: center;vertical-align: middle";>Code</th>
              <th scope="col"  style=" font-size: x-small; text-align: center;vertical-align: middle";>Description</th>

              <th scope="col" style="font-size: x-small; text-align: center;vertical-align: middle";>Offer%</th> 
              <th scope="col" style="font-size: x-small; text-align: center;vertical-align: middle";>Minimum Amount</th> 

              <th scope="col"  style=" font-size: x-small; text-align: center;vertical-align: middle";>CreatedOn</th>
              <th scope="col"  style=" font-size: x-small; text-align: center;vertical-align: middle";>ExpiryDate</th>
           
            
            </tr>
          </thead>
        <tbody>
            <% coupons.forEach(function(coupon){ %>
           <tr>
           
            <td  style=" text-align: center;vertical-align: middle";><%=coupon.code%></td>
            <td  style=" text-align: center;vertical-align: middle";><%=coupon.description%></td>

            <td  style=" text-align: center;vertical-align: middle";><%=coupon.offerPrice%></td>
            <td  style=" text-align: center;vertical-align: middle";><%=coupon.minimumAmount%></td>

            <td  style=" text-align: center;vertical-align: middle";><%=coupon.createdOn.toLocaleDateString()%></td>
            <td  style=" text-align: center;vertical-align: middle";><%=coupon.expiryDate.toLocaleDateString()%></td>

          
          
          </tr>
          <% }); %>
        </tbody>
      </table>

</div>

</section>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable({
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search..."
    }
  }

    );
} );
 

